@model WebAppAgenda.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login - Agenda</title>
    @Styles.Render("~/Content/Style.css")
</head>
<body>
    <div class="wrapper">
        <form action="/Home/Index" method="post">
            <div>
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1_13)">
                        <path d="M3.96641 17.9446V15.8894L4.12099 15.6158C4.79649 14.4201 5.68656 13.4066 6.76845 12.6012C8.19856 11.5365 9.83792 10.9103 11.6506 10.7368C12.0751 10.696 12.9457 10.696 13.3702 10.7368C16.5697 11.0433 19.3152 12.8202 20.8952 15.6071L21.0334 15.8511V19.9997H3.96628V17.9445L3.96641 17.9446ZM12.0936 9.30715C11.4105 9.24716 10.6432 8.99032 10.0532 8.62426C9.46088 8.25665 8.91609 7.71186 8.54849 7.11951C8.04374 6.30618 7.78816 5.27826 7.85988 4.3504C7.94944 3.19051 8.41206 2.17476 9.21745 1.36936C10.0228 0.56397 11.0386 0.101363 12.1985 0.0117917C13.1263 -0.0599154 14.1543 0.195802 14.9676 0.700399C15.5599 1.06801 16.1047 1.61279 16.4723 2.20515C16.6424 2.47928 16.8344 2.89208 16.9362 3.20236C17.4172 4.66958 17.153 6.24018 16.2139 7.49451C16.0221 7.75078 15.599 8.1739 15.3427 8.36576C14.3914 9.07793 13.2501 9.40858 12.0937 9.30701L12.0936 9.30715Z" fill="black" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1_13">
                            <rect width="25" height="25" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

                @Html.EditorFor(model => model.Email)
            </div>
            <div>
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 10C11.8372 10 11.2999 10.5372 11.2999 11.2001C11.2999 11.6434 11.5421 12.0279 11.9 12.2355V14H13.1V12.2354C13.4579 12.0279 13.7001 11.6434 13.7001 11.1999C13.7001 10.5372 13.1628 10 12.5 10Z" fill="black" />
                    <path d="M12.5 4.39999C11.1766 4.39999 10.1 5.4766 10.1 6.79996V8.79996H14.9V6.79996C14.9 5.47657 13.8234 4.39999 12.5001 4.39999H12.5Z" fill="black" />
                    <path d="M12.5 1.20007C7.63965 1.20007 3.70001 5.13972 3.70001 10.0001C3.70001 14.8604 7.63965 18.8001 12.5 18.8001C17.3604 18.8001 21.3 14.8604 21.3 10.0001C21.3 5.13972 17.3604 1.20007 12.5 1.20007V1.20007ZM17.3 14.4001C17.3 14.8413 16.9412 15.2 16.5001 15.2L8.50008 15.2001C8.05894 15.2001 7.70026 14.8413 7.70026 14.4003V9.19996C7.70026 8.97912 7.87953 8.8 8.10023 8.8H8.90015V6.79986C8.90015 4.81493 10.5151 3.19986 12.5002 3.19986C14.4851 3.19986 16.1002 4.81482 16.1002 6.79986V8.79986H16.9001C17.1209 8.79986 17.3 8.97912 17.3 9.19982L17.3 14.4001Z" fill="black" />
                </svg>

                @Html.EditorFor(model => model.Senha)
            </div>
            <div>
                <button><a href="#">Cadastre-se</a></button>
                <input type="submit" value="Login" />
            </div>
        </form>
    </div>
</body>
</html>
