
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agenda - Cadastrar-se</title>
    @Styles.Render("~/Content/Style.css")
    @Styles.Render("~/Content/bootstrap.css")
</head>
<body>
    <div class="container-box-user-page">
        <header class="cabecalho">
            <h1>Web Agenda_</h1>

            <span>
                &rarr; Ambiente 100% seguro
            </span>
        </header>

        <main class="container-box-user-content">

        </main>

        <footer class="container-box-user-footer">
            <p>&copy; Developed by Igor Salvador - 2022</p>
        </footer>
    </div>
</body>
</html>
